:root {
    --primary: #17768A;
    --primary-light: #8EC9D6;
    --dark-brown: #263238;
    --gray-1: #798092;
    --gray-2: #E6E6ED;
    --white: #FFFFFF;

    /* font size*/
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;
    --text-large: 22px;
    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;


    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

    --about-us-font: 'Bebas Neue', sans-serif;
    --about-us-para-font: 'Roboto', sans-serif;


/* 
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff; */
}

body{
    font-family: 'Poppins', sans-serif;

}
.content-ct {
	text-align: center;
}

.logo-words{
    color: var(--primary) !important;
    text-decoration: none;
    font-size: var(--text-large);
    font-weight: var(--font-weight-medium);
    color: var(--primary);
} 

.btn{
    padding: 15px 25px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
}

.btn-primary{
    background-color: var(--primary);
}
.btn-primary:focus{
    background-color: var(--primary-light);
}
.btn-primary:hover{
    background-color: var(--primary-light);
}
.btn-secondary{
    background-color: var(--gray-2);
    color: var(--gray-1);
}
.btn-secondary:focus{
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
}
.btn-secondary:hover{
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
}


/*navbar*/

.navbar-brand img{
    padding-right: 16px;
}

.navbar-brand span{
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--dark-brown);
}
.navbar{
    padding: 48px 0;
}
a.nav-link{
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--dark-brown) !important;
}



/*hero*/

section.hero{
    margin: 5rem 0;
}
.text-label,
.text-hero-bold,
.text-hero-regular{
    margin: 24px 0;
}

.text-label{
    color: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold{
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.hero-image img{
    width: 700px;
    height: 700px;
}


.testimonial-brand{
    padding: 24px 0;
}


/* about us*/


.blogging-img img{
    width: 650px;
    height: 650px;
    text-align: center;
}
.blogging-img h1{
    margin-top: 180px;;
    /* font-family: var(--about-us-font); */
    text-align: left;
    font-size: var(--header-3);
    font-weight: 550px;
    font-weight: var(--font-weight-bold);
}
.blogging-img h3{
    font-family: var(--about-us-para-font);
    text-align: justify;
    font-size: 18px;
}

/* description*/

.customer img{
    margin-right: 50px;;
    width: 600px;
    height: 600px;
    text-align: center;
}
.customer h1{
    margin-top: 80px;
    /* font-family: 'Bebas Neue', sans-serif; */
    text-align: left;
    font-size: var(--header-3);
    font-weight:var(--font-weight-bold);
    /* margin-left: 100px; */
}
.customer h3{
    /* font-family: 'Roboto', sans-serif; */
    text-align: left;
    font-size: var(--text-medium);
    /* margin-left: 100px; */
    font-weight: var(--font-weight-light);
}
.customer{
    
    margin-top: 100px;;
    margin-bottom: 100px;
}

.ending-section{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120px ;
    font-weight: var(--font-weight-bold);
}
.quote1{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: var(--header-4);
    /* font-style:; */
    font-weight: var(--font-weight-light);
    text-align: center;
    color: var(--gray-1);
}
.end-para h1,h3{
    text-align: center;
}


.me-row {
	margin-top: 40px ;
}
.me-row img{
    filter: invert(37%) sepia(62%) saturate(529%) hue-rotate(143deg) brightness(91%) contrast(97%);
    width: 120px;
    height: 120px;
    color-scheme: #016cc7;
}
.row-title {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 2%;
    font-size: 120px;
	font-weight: 1000;
}
.feature h3{
    /* font-family: 'Nunito', sans-serif; */
    font-size: var(--header-4);
    font-weight: bolder;

}
.feature p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: var(--font-weight-light);
    font-size: var(--text-regular)
}
.feature {
    
	padding: 50px;
	margin-top: 20px;
}
.feature span {
	font-size: 5em;
    color: #016cc7;
}
.feature img{
    margin: 30px;
}
.speaker .feature{
    width: 1000px;
    height: 650px;
}
.speaker .feature {
	width: 31.333333%;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	margin-right: 20px;
  	border: 3px solid #f6f6f6;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
	max-width: 40%;
    border: 4px solid #efefef;
    border-radius: 50%;
}

ul.speaker-social li {
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}
ul.speaker-social li a {
	font-size: 0.2em;
	padding: 0 10px;
}
ul.speaker-social li a:hover {
	text-decoration: none;
}
a span.ti-facebook {
	color: #3b5998;
}
a span.ti-twitter-alt {
	color: #4099ff;
}

.tickets {
	background-color: #fcd93b;
}
.tickets .price {
	font-size: 4em;
	color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
	font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}
.schedule .media {
	margin-top: 4em;
}
.schedule .media-object {
	max-width: 100px;
}
.schedule .media-heading {
	font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
	text-transform: uppercase;
	font-weight: 600;
}


footer {
    box-shadow: rgba(0.05, 0, 0, 0.05);
    background-color: var(--primary-light);
    color: #fff;
}

.about-us-footer h5{
    font-size: var(--text-regular);
    font-weight: var(--font-weight-semi-bold);
}

.about-us-footer {
    text-decoration: none;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-medium);
    color: var(--primary) !important;
}
.about-us-footer a{
    text-decoration: none;
}

.copyright-sec{
    text-align: center;
    font-size:  var(--text-regular);
    font-weight: var(--font-weight-light) ;
}
.about-us-footer a{
    color: var(--primary) !important;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}
.form-control {
    padding: 20px 15px;
    border: 3px solid #eee;
    background-color: #f9f9f9;
    box-shadow: none;
}
.help-block {
    font-size: 12px;
}
.form-control-feedback {
    top: 15px;
    right: 15px;
}

.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}


@media (min-width: 1399.98px){
    .container{
        width: 84%;
    }

    .testimonial-brand{
        padding: 4rem 5rem;
    }
}

@media (max-width: 1399.98px){
    .navbar{
        padding: 28px 0;
    }

    a.nav-link{
        margin-right: 7px 0;
    }

    section.hero{
        margin: 2rem 0;
        text-align: center;
    }
    .btn{
        display: block;
        margin: 1rem 0;
    }
    .ms-3{
        margin-left: 0;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular{
        text-align: center;
    }
    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 2rem 0;
    }

    section.hero img{
        margin: 2rem 0;
    }
}

/*tablet small*/
@media (max-width: 768px) {

    .navbar{
        padding: 20px 0;
    }
    a.nav-link{
        margin-right: 7px 0;
    }

    section.hero {
        margin:  1rem 0;
    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    section.hero img{
        margin: 2rem 0;
    } 
}

/*tablet medium & large*/
@media (max-width: 992px) {

    .navbar{
        padding: 28px 0;
    }
    a.nav-link{
        margin-right: 7px 0;
    }

    section.hero {
        margin:  1rem 0;
    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    section.hero img{
        margin: 2rem 0;
    }   
}



@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        max-height: 550px;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
    .customer{
        text-align: left;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}